//! **************************************************************************
// Written by: Map J.40 on Tue Feb 28 11:36:45 2017
//! **************************************************************************

SCHEMATIC START;
COMP "S1" LOCATE = SITE "P14" LEVEL 1;
COMP "Ci0" LOCATE = SITE "J14" LEVEL 1;
COMP "Co2" LOCATE = SITE "L12" LEVEL 1;
COMP "A0" LOCATE = SITE "F12" LEVEL 1;
COMP "A1" LOCATE = SITE "G12" LEVEL 1;
COMP "B0" LOCATE = SITE "H14" LEVEL 1;
COMP "B1" LOCATE = SITE "H13" LEVEL 1;
COMP "S" LOCATE = SITE "K12" LEVEL 1;
SCHEMATIC END;
